<nav class="navbar">
  <div class="nav-container">
    <!-- Logo y Título -->
    <div class="nav-logo">
      <a [routerLink]="['/']" class="logo-container">
        <img
          class="logo-img"
          src="assets/Logo.png"
          alt="Logo Importaciones"
          onerror="this.onerror=null;this.src='https://placehold.co/75x75/f8d28a/000000?text=B%26D'"
        />
        <h2>IMPORTACIONES BRISA Y DENIS</h2>
      </a>
    </div>

    <!-- Menú Principal (Escritorio - Ahora Único) -->
    <div class="nav-menu">
      <!-- Enlaces Comunes -->
      <a
        routerLink="/"
        [routerLinkActive]="['active-link']"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-link"
        >INICIO</a
      >
      <a
        routerLink="/catalogo"
        [routerLinkActive]="['active-link']"
        class="nav-link"
        >CATALOGO</a
      >
      <a
        routerLink="/promociones"
        [routerLinkActive]="['active-link']"
        class="nav-link"
        >PROMOCIONES</a
      >
      <a
        routerLink="/somos"
        [routerLinkActive]="['active-link']"
        class="nav-link"
        >SOMOS</a
      >

      <!-- Contenedor de Saludo y Botón -->
      <div class="auth-section">
        <!-- Sección de Saludo (Visible solo si está logueado) -->
        
        <!-- Botón de Autenticación DUAL -->
        @if (authService.isAuthenticated()) {
          <button (click)="logout()" class="nav-link last-child-style">
            CERRAR SESIÓN
          </button>
          
          @if (authService.isAuthenticated()) {
          <span class="auth-greeting">
            <!-- utilizamos la pipe personalizada -->
            Hola, {{ authService.currentUser()?.displayName ?? "" | titleCase }} 
          </span>
          }
        } @else {
        <a
          routerLink="/registrate"
          [routerLinkActive]="['active-link']"
          class="nav-link last-child-style"
          >REGÍSTRATE / LOGIN</a
        >
        }
      </div>
    </div>
  </div>
</nav>
