.catalogo {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.categoria h2 {
  text-transform: uppercase;
}

.productos {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.producto-card {
  border: 1px solid #ccc;
  padding: 1rem;
  width: 200px;
  border-radius: 8px;
}

.producto-card img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.precio {
  font-weight: bold;
}

.talles span.agotado {
  text-decoration: line-through;
  color: gray;
  margin-right: 0.3rem;
}
