/* 1. Tipografía Global */
    
    :host {
      font-family: 'Georgia', 'Times New Roman', serif;
    }
    .title-font {
        font-family: 'Verdana', sans-serif;
    }
    /* Contenedor Principal */
    .login-container {
      display: flex;
      justify-content: center;
      align-items: center;
      /* AJUSTE CLAVE: Reducimos el min-height y el padding vertical */
      min-height: calc(100vh - 4.8rem); 
      /* background: linear-gradient(145deg, #1f2937 0%, #000000 100%);  */
      padding: 1rem 0; /* REDUCCIÓN DEL PADDING VERTICAL */
    }
    
    /*  Tarjeta del Formulario */
    .form-card {
      background-color: #ffffff; 
      text-align: center;
      padding: 3rem;
      border-radius: 1rem; 
      box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.4), 0 10px 10px -5px rgba(0, 0, 0, 0.1);
      max-width: 450px; 
      width: 100%;
      border: 2px solid #e67e22; 
      transform: translateY(-5px); 
      transition: all 0.3s ease-in-out;
    }
    
    .label-style {
        display: flex;
        font-size: 1rem;
        font-weight: 600;
        color: #374151; 
        margin-top: 1rem;
    }
    
    .input-style {
        width: 90%;
        font-size: 1rem;
        padding: 0.65rem 1rem;
        border: 1px solid #d1d5db;
        border-radius: 0.5rem;
        transition: border-color 0.3s, box-shadow 0.3s;
        margin-top: 0.50rem;
        margin-bottom: 1rem;
    }
    .input-style:focus {
        border-color: #e67e22; 
        box-shadow: 0 0 0 3px rgba(230, 126, 34, 0.2);
        outline: none;
    }

    /* Botón de Enviar */
    .submit-button {
      justify-content: center;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      font-size: 1rem;
      color: white;
      background-color: #e67e22;
      transition: background-color 0.3s, transform 0.2s;
    }
    .submit-button:hover:not(:disabled) {
        background-color: #d35400; 
        transform: translateY(-1px);
    }
    .submit-button:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
    
    /* Mensajes de Error */
    .error-message {
        color: #ef4444; 
    }
