<div class="login-container">
  <div class="form-card">
    <h2>
      Bienvenido
    </h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit($event)" class="">
      
      <div>
        <label for="email" class="label-style">Email</label>
        <input 
          id="email" 
          type="email" 
          formControlName="email" 
          required 
          placeholder="su.email@ejemplo.com"
          class="input-style"
          [ngClass]="{'border-red-500': loginForm.get('email')?.invalid && loginForm.get('email')?.touched}"
        >
        @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
          <p class="error-message">Email inválido o requerido.</p>
        }
      </div>

      <div>
        <label for="password" class="label-style">Contraseña</label>
        <input 
          id="password" 
          type="password" 
          formControlName="password" 
          required 
          placeholder="mínimo 6 caracteres"
          class="input-style"
          [ngClass]="{'border-red-500': loginForm.get('password')?.invalid && loginForm.get('password')?.touched}"
        >
        @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
          <p class="error-message">Contraseña requerida (mín. 6 caracteres).</p>
        }
      </div>

      @if (errorMessage()) {
        <p class="error-message">{{ errorMessage() }}</p>
      }

      <div>
        <button 
          type="submit" 
          [disabled]="loginForm.invalid || isSubmitting()"
          class="submit-button"
        >
          {{ isSubmitting() ? 'Verificando...' : 'Iniciar Sesión' }}
        </button>
      </div>
    </form>

    <p class="">
      ¿No tienes una cuenta? 
      <a routerLink="/registrate" class="font-bold text-indigo-500 hover:text-indigo-400 transition duration-200">
        Regístrate aquí
      </a>
    </p>
  </div>
</div>